@model Contoso.Retail.Ecommerce.Web.Storefront.Models.SelectedProductGalleryModel2
@using Contoso.Commerce.RetailProxy;
@using Contoso.Retail.Ecommerce.Web.Storefront.Models;

<div class="selected-product-gallery-wrapper">
    <div class="selected-products-heading">@Model.Heading</div>
    <div class="selected-products-listing">
        @for (var i = 0; i < Model.Products.Count; i++)
        {
            <div class="selected-product-wrapper">
                <a href="/ProductDetails?productId=@Model.Products[i].RecordId" class="selected-product-img-wrapper padding-right-10">
                    @{
                        RichMediaLocationsRichMediaLocation img = Model.Products[i].Image.Items.First<RichMediaLocationsRichMediaLocation>();

                        string imgLoc = img.Url;
                    }
                    <img src="@imgLoc" class="selected-product-img" />
                </a>

                <a href="/ProductDetails?productId=@Model.Products[i].RecordId" class="selected-product-name">@Model.Products[i].ProductName</a>
                <div>
                    @if (@Model.Products[i].BasePrice != @Model.Products[i].AdjustedPrice)
                    {
                        <div>@String.Format("{0:C}", @Model.Products[i].AdjustedPrice)</div>
                    }
                    else
                    {
                        <div>@String.Format("{0:C}", @Model.Products[i].BasePrice)</div>
                    }
                </div>
            </div>
        }
    </div>
</div>
